.container {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 14px;
  line-height: 26px;
}

.title {
  font-size: 28px;
  line-height: 56px;
}

.subtitle {
  font-size: 16px;
  line-height: 28px;
}
