@import '/src/styles/common/breakpoints.scss';

$vertical-padding: 45px;
$xs-horizontal-padding: 12px;

.container {
  margin-left: auto;
  margin-right: auto;
  padding: $vertical-padding $xs-horizontal-padding;
  width: $container-width-xs;

  @media (min-width: $screen-sm-min) {
    padding: $vertical-padding 0;
    width: $container-width-sm;
  }

  @media (min-width: $screen-md-min) {
    padding: $vertical-padding 0;
    width: $container-width-md;
  }

  /*
  @media (min-width: $screen-lg-min) {
    width: $container-width-lg;
  }

  @media (min-width: $screen-xl-min) {
    width: $container-width-xl;
  }

  @media (min-width: $screen-xxl-min) {
    width: $container-width-xxl;
  }
  */
}
